body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco,
        "Bitstream Vera Sans Mono", monospace;
}

.page_1 {
    background-image: url("./assets/page_1_bk.jpg");
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
}

.container_1 {
    width: 1100px;
    margin: auto;
    height: 100%;
}

.title_1 {
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
    top: 160px;
    position: relative;
    animation-name: title_move;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes title_move {
    from {top: 50px; opacity: 0;}
    to {top: 160px; opacity: 1;}
}

.name_1 {
    color: white;
    position: relative;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    font-family: Arial, sans-serif;
}

.name_h1 {
    position: absolute;
    text-align: right;
    top: 220px;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    font-size: 100px;
    background-size: cover;
    -moz-background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
    animation-name: name_move;
    animation-duration: 2.1s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-fill-mode: both;
}

@keyframes name_move {
    from {top: 290px; opacity: 0;}
    to {top: 220px; opacity: 1;}
}

.page_2 {
    height: 100vh;
}
